<h1 class="mt-5 text-center">Gestão Financeira</h1>
<p class="lead mb-5 text-center">
  O Gestão Financeira é uma aplicação na qual permite gerenciar suas receitas e despesas!
</p>

<div class="col md-6 text-center">
  <img class="img-fluid" src={ Routes.static_path(@conn, "/images/bar-graph.png") } alt="" />
</div>